
gmt.history

test_filt.nc

test.asc

test.nc

.ipynb_checkpoints/extract-paleoshorelines-checkpoint.ipynb

.ipynb_checkpoints/paleotopo-cross-section-from-function-calls-checkpoint.ipynb

.ipynb_checkpoints/proxy_paleobathymetry_from_distance_to_MidOceanRidge-checkpoint.ipynb

.ipynb_checkpoints/group-features-by-motion-checkpoint.ipynb

.ipynb_checkpoints/paleoshoreline_tweening-checkpoint.ipynb

tmp/*

.ipynb_checkpoints/paleogeography-to-raster-checkpoint.ipynb
