
gmt.history

test_filt.nc

test.asc

test.nc

.ipynb_checkpoints/extract-paleoshorelines-checkpoint.ipynb

.ipynb_checkpoints/paleotopo-cross-section-from-function-calls-checkpoint.ipynb

.ipynb_checkpoints/proxy_paleobathymetry_from_distance_to_MidOceanRidge-checkpoint.ipynb

.ipynb_checkpoints/group-features-by-motion-checkpoint.ipynb

.ipynb_checkpoints/paleoshoreline_tweening-checkpoint.ipynb

tmp/*

.ipynb_checkpoints/paleogeography-to-raster-checkpoint.ipynb

.ipynb_checkpoints/make-masks-checkpoint.ipynb

Paleoshoreline_255.gpmlz

.ipynb_checkpoints/tween-paleoshorelines-inplace-checkpoint.ipynb

.ipynb_checkpoints/paleogeography-to-raster-reconstruct-checkpoint.ipynb

pg_points_tmp.gpmlz

tween_feature_collections/*

.ipynb_checkpoints/tweened-paleotopography-checkpoint.ipynb
