
gmt.history

test_filt.nc

test.asc

test.nc

.ipynb_checkpoints/extract-paleoshorelines-checkpoint.ipynb

.ipynb_checkpoints/paleotopo-cross-section-from-function-calls-checkpoint.ipynb

.ipynb_checkpoints/proxy_paleobathymetry_from_distance_to_MidOceanRidge-checkpoint.ipynb

.ipynb_checkpoints/group-features-by-motion-checkpoint.ipynb

.ipynb_checkpoints/paleoshoreline_tweening-checkpoint.ipynb

tmp/*

.ipynb_checkpoints/paleogeography-to-raster-checkpoint.ipynb

.ipynb_checkpoints/make-masks-checkpoint.ipynb

Paleoshoreline_255.gpmlz

.ipynb_checkpoints/tween-paleoshorelines-inplace-checkpoint.ipynb

.ipynb_checkpoints/paleogeography-to-raster-reconstruct-checkpoint.ipynb

pg_points_tmp.gpmlz

tween_feature_collections/*

.ipynb_checkpoints/tweened-paleotopography-checkpoint.ipynb

paleotopo.nc

land_marine.xyz

land_marine.nc

mountain.nc

mountain.xyz

paleotopobathy_smooth.nc

paleotopobathy.nc

tmp_psl.gpmlz

.ipynb_checkpoints/tweened-paleotopography-clean-checkpoint.ipynb

paleotopo_grids/*

paleotopobathy_smooth_126.00Ma.nc

paleotopobathy_smooth_7.00Ma.nc

*.pyc

test.gpml

.ipynb_checkpoints/quadtree_debug-checkpoint.ipynb

.ipynb_checkpoints/tweened-paleotopography-dev-checkpoint.ipynb

.ipynb_checkpoints/mountain_plate_boundary_proximity-checkpoint.ipynb

Paleogeography_Matthews2016_410-2Ma_Shapefiles/PresentDay_Paleogeog_Matthews2016_152Ma/m_fig42_166_146_PresentDay_Paleogeog_Matthews2016_152.00Ma.dbf

Paleogeography_Matthews2016_410-2Ma_Shapefiles/PresentDay_Paleogeog_Matthews2016_152Ma/m_fig42_166_146_PresentDay_Paleogeog_Matthews2016_152.00Ma.shp

Paleogeography_Matthews2016_410-2Ma_Shapefiles/Muller_etal_AREPS_2016_StaticPolygons.gpmlz

Paleogeography_Matthews2016_410-2Ma_Shapefiles/PresentDay_Paleogeog_Matthews2016_152Ma/m_fig42_166_146_PresentDay_Paleogeog_Matthews2016_152.00Ma.shx

Paleogeography_Matthews2016_410-2Ma_Shapefiles/PresentDay_Paleogeog_Matthews2016_152Ma/m_fig42_166_146_PresentDay_Paleogeog_Matthews2016_152.00Ma.dbf

Paleogeography_Matthews2016_410-2Ma_Shapefiles/PresentDay_Paleogeog_Matthews2016_152Ma/m_fig42_166_146_PresentDay_Paleogeog_Matthews2016_152.00Ma.dbf

Paleogeography_Matthews2016_410-2Ma_Shapefiles/PresentDay_Paleogeog_Matthews2016_152Ma/m_fig42_166_146_PresentDay_Paleogeog_Matthews2016_152.00Ma.dbf

Paleogeography_Matthews2016_410-2Ma_Shapefiles/PresentDay_Paleogeog_Matthews2016_152Ma/m_fig42_166_146_PresentDay_Paleogeog_Matthews2016_152.00Ma.shx

.ipynb_checkpoints/paleogeography-checkpoint.py

tmp.gpmlz
.ipynb_checkpoints/paleogeography_file_conversion-checkpoint.ipynb
